body {
    background-color: #1cbc9c;
}


.texto {
    color: white;
    font-size: 30px;
    border: hidden;
    text-align: left;
}


.borde1 {
    border: gray 7px outset;
    background-color: black;
}

.borde2 {
    border: gray 7px outset;
}

.borde3 {
    border: black 0.5px double;
    background-color: #1cbc9c;

}


.color1 {
    background-color: #e34c3b;
    width: 1%;
    font-size: 30px;
}

.color2 {
    background-color: #349cdc;
    width: 1%;
    font-size: 30px;
}

.color3 {
    background-color: #9c5db3;
    font-size: 30px;
    width: 1%;
}

.color4 {
    background-color: #349cdc;
    width: 1%;
    font-size: 30px;
}

.color5 {
    background-color: #f3c30c;
    font-size: 30px;
    width: 1%;
}

.color6 {
    background-color: white;
    font-size: 30px;
    width: 1%;
}

.texto1 {
    color: white;
    font-size: 30px;
    background-color: #2ccc74;
    width: 1%;

}

.texto2 {
    color: white;
    font-size: 30px;
    background-color: #e34c3b;
    width: 1%;


}

.texto3 {
    color: white;
    font-size: 30px;
    width: 1%;
    background-color: #9c5db3;
}